body{
  background-color: #d6b8b8;
  border-radius: 10px;
}
.container{
  width:800px;
  border-radius: 10px;
}
nav>ul>li{
  display:inline-block;
  position:relative;
  text-align: center;
  left:150px;
}
ul>li{
  padding:20px;
}
#section1{
  background-color: #f6f0f0;
  border: 3px black;
  width:780px;
  border-radius: 10px;
  border-style: dotted;
  box-shadow: 3px -3px green;
  padding-bottom: 20px;
}
#section2{
  background-color:#8feeff;
  display:none;
  padding-top:10px;
  padding-bottom: 20px;
  border: 3px black;
  width:780px;
  border-radius: 10px;
  border-style: dotted;
  box-shadow: 3px -3px green;
}
#section2>li{
  display:flex;
  justify-content: center;
  text-align: center;
}
#result{
  display:none;
  background-color: #f4e4e4;
  padding-top:10px;
  border: 3px black;
  width:600px;
  border-radius: 10px;
  border-style: dotted;
  box-shadow:-3px 3px green;
  text-align:center;
  position:relative;
  left:80px;
  font-family: monospace;
  padding-bottom: 20px;
}
#result>#input{
  padding-top: 20px;
}
span{
  color:red;
  font-size:xx-large;
  text-shadow:-3px 1px maroon;
}
#result>h3{
  font-size:x-large;
  color: blue;
  text-align:center;
  text-decoration:underline;
}
p{
  font-size:x-large;
  font-style:oblique;
  color:#210cffcc;
}
li{
  font-size:xx-large;
}
#section1>h1{
  background-color: coral;
}
#section2>h1{
  background-color: coral;
}

.h1{
  text-shadow:-3px 1px black;
  text-align: center;
  background-color: none;
}
.form>label{
  color:green;
  font-weight: bold;
  font-size:x-large;
}
.form>label:after{
  content: " *";
  color:red;
  font-weight:bold;
}

#sub{
  position:relative;
  left:50px;

}
