.container{
  /* border: 3px black; */
  width:800px;
  border-radius: 10px;
  /* border-style: dotted; */
  /* box-shadow: 3px -3px green; */
}
nav>ul>li{
  display:inline-block;
  position:relative;
  text-align: center;
  left:150px;
}
ul>li{
  padding:20px;
}
#section1{
  /* display:none; */
  border: 3px black;
  width:780px;
  border-radius: 10px;
  border-style: dotted;
  box-shadow: 3px -3px green;
  padding-bottom: 20px;
}
#section2{
  display:none;
  padding-top:10px;
  border: 3px black;
  width:780px;
  border-radius: 10px;
  border-style: dotted;
  box-shadow: 3px -3px green;
}
#result{
  display:none
}
p{
  font-size:x-large;
  font-style:oblique;
  color:coral;
}
li{
  font-size:xx-large;
}

.h1{
  text-shadow:-3px 1px black;
  text-align: center;
}
.form>label{
  color:green;
  font-weight: bold;
}
.form>label:after{
  content: " *";
  color:red;
  font-weight:bold;
}

button{

}
